* text=auto

*.diagram text eol=lf
*.html text eol=lf
*.md text eol=lf
*.py text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.png binary
*.woff2 binary
